.exe
.iobj
.ipdb
.pdb
.db
.d
.ipch
.opendb
.DS_store
visualstudio/visualstudio/Debug
visualstudio/visualstudio/Release
visualstudio/VS2015/Debug
visualstudio/VS2015/Release
*.ipch
*.db
*.exe
data/world-countries/.idea/inspectionProfiles/profiles_settings.xml
data/textures/test_borders_4.tga
data/textures/test_borders_5.tga
ConvModule.md
